:root{
    --primario:#9DA3EB;
    --segundario:#A4BFF5;
    --tercero:#9FC5DE;
    --cuarto:#A4EAF5;
    --quinto:#9DEBE0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contenedor{
    background: var(--cuarto);
    width: 100%;
    height: 100vh;
}
.contenedor h1{
    text-align: center;
}
.icono-man{
    width: 15%;
    height: 190px;
    margin: auto;
    background: var(--primario);
    border-radius: 50%;
    display: flex;
}
.logo{
    width: 60%;
    margin: auto;
    align-items: center;
}
.logo svg path{
    stroke: var(--cuarto);
    fill: var(--cuarto);
}
.contenedor-informacion{
    width: 70%;
    height: 150px;
    margin: 80px auto ;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.informacion{
    display: flex;
    align-items: center;
    background: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    
}
.informacion-personal{
    margin-left: 20px;
}
.botones-principales{
    flex-direction: row;
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.botones a{
    text-decoration: none;
}
/*.botones{
    color: white;
    margin-right: 20px;
    width: 200px;
    background: var(--primario);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/
.botones svg path{
    fill:var(--cuarto);
}

button{
    background: var(--primario);
    width: 200px;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    text-decoration: none;
}
button svg{
    margin-left: 50px;
    width: 40px;
}
button p{
    margin: 5px;
    font-size: 20px;
    color: white;
}
button:hover{
    background: var(--segundario);
}