:root{
    --primario:#9DA3EB;
    --segundario:#A4BFF5;
    --tercero:#9FC5DE;
    --cuarto:#A4EAF5;
    --quinto:#9DEBE0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contenedor{
    background: var(--cuarto);
    width: 100%;
    height: 100vh;
}
.contenedor h1{
    text-align: center;
}
.icono-man{
    width: 165px;
    height: 165px;
    margin: auto;
    background: var(--primario);
    border-radius: 50%;
    display: flex;
}
.logo{
    width: 50px;
    margin: auto;
    align-items: center;
}
.logo svg path{
    stroke: var(--cuarto);
    fill: var(--cuarto);
}
.contenedor-informacion{
    width: 70%;
    height: 300px;
    margin: 20px auto ;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.informacion{
    display: flex;
    align-items: center;
    background: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    
}
.informacion-personal{
    margin-left: 20px;
}
.botones-principales{
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
}
.botones a{
    text-decoration: none;
}
.botones{
    color: white;
    margin-right: 20px;
    width: 200px;
    background: var(--primario);
    border-radius: 20px;
    display: flex;
    
}
button{
    background: var(--primario);
    width: 200px;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    border: none;
    
}
.botones svg{
    width: 40px;
    margin-left: 40px;
}
.botones svg path{
    stroke: var(--cuarto);
    fill: var(--cuarto);
}
.botones button p{
    margin: 5px;
    font-size: 20px;
    color: white;
}

button:hover{
    background: var(--segundario);
}
.boton{
    display: flex;
    justify-content: center;
}
.boton input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    background: var(--primario);
    font-size: 20px;
}
.boton input:hover{
    border:0.5px solid var(--primario);
    background: var(--segundario);
}
