@import url("../../styles/root.css");

.container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.container .dummy-sidebar {
    width: 100px;
    height: 100%;
}

.container .iframe-container {
    width: 100%;
    height: 100%;
    
}

.container .iframe-container iframe {
    width: 100%;
    height: 100%;
}