@import url(../../styles/root.css);

body {
    height: 100vh;
    overflow: hidden;
}

.min-sidebar {
    position: relative;
    width: 100px;
    height: 100vh;
    z-index: 10;
    left: 0;
    position: fixed;
    background-color: var(--color-1);
    box-shadow: 5px 0 var(--color-2);
    transition: left .5s ease;
}

.min-sidebar-close {
    left: -100px;
}

.min-sidebar .open-sidebar {
    background-color: var(--color-icon);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    margin: 15px auto 0;
    transition: .25s ease;
}

.min-sidebar .open-sidebar:hover {
    background-color: #ccc;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-5);
}

.min-sidebar .open-sidebar svg {
    transition: transform .35s ease;
}

.min-sidebar .open-sidebar:hover > svg {
    transform: rotate(180deg);
}

.min-sidebar .user-profile {
    width: 100%;
    margin: 30px auto 0;
}

.min-sidebar .user-profile .user-img {
    width: 70px;
    cursor: pointer;
    height: 70px;
    background-color: var(--color-icon);
    margin: 60px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--color-icon);
    transition: border-color .25s ease, border-width .25s ease;
}

.min-sidebar .user-profile .user-img img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.min-sidebar .user-profile .user-data {
    background-color: var(--color-icon);
    border-radius: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
    cursor: pointer;
    transition: .25s ease;
}

.min-sidebar .user-profile .user-data:hover{
    background-color: #ccc;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-5);
}

.min-sidebar .user-profile .user-img:hover {
    border-color: var(--color-5);
    border-width: 5px;
}

.min-sidebar .modules-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    margin: 120px auto 0;
}

.min-sidebar .modules-buttons .button {
    width: 50px;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-icon);
    transition: .25s ease;
}

.min-sidebar .modules-buttons .button:hover {
    background-color: #ccc;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-5);
}

.button-active {
    background-color: #ccc !important;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-5);
}

.min-sidebar .modules-buttons .logout {
    color: #000;
    text-decoration: none;
}

.min-sidebar .modules-buttons .logout svg {
    transform: rotate(-180deg);
}

.min-sidebar .sidebar-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

.min-sidebar .sidebar-footer p {
    font-family: var(--fuente);
    font-size: 10px;
    text-align: center;
}


@media screen and (max-width: 1400px) {
    .min-sidebar .modules-buttons {
        margin: 70px auto 0;
    }
}