@import url("../styles/root.css");

.profile-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
    background-color: var(--blur-color);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
}

.profile-modal .modal-content {
    min-width: 50%;
    width: 50%;
    max-width: 80%;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-4);
    transition: .25s ease;
}

.profile-modal .modal-content .logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.profile-modal .modal-content .logo img {
    width: 50px;
    border-radius: 15px;
}

.profile-modal .modal-content .icon {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: var(--color-icon);
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content:  center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: .25s ease;
}

.profile-modal .modal-content .icon:hover {
    background-color: #ccc;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px var(--color-1);
}

.profile-modal .modal-content .icon svg {
    stroke: #111;
    width: 30px;
    transition: transform .25s ease;
}

.profile-modal .modal-content .icon:hover > svg{
    transform: rotate(90deg);
}

.profile-modal .modal-content .titulo {
    margin-top: 80px;
    font-family: var(--fuente);
}

.profile-modal .modal-content .pass-confirm {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profile-modal .modal-content .pass-confirm form {
    width: 80%;
    margin-top: 30px;
}

.profile-modal .modal-content .pass-confirm .input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.profile-modal .modal-content .pass-confirm label {
    font-family: var(--fuente);
    font-size: 20px;
}

.profile-modal .modal-content .pass-confirm .input input {
    font-family: var(--fuente);
    outline: none;
    width: 100%;
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.profile-modal .modal-content .pass-confirm .input .eye {
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    min-width: 15%;
    transition: .25s ease;
}

.profile-modal .modal-content .pass-confirm .input .eye button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}

.profile-modal .modal-content .pass-confirm .input .eye svg {
    stroke: var(--color-icon);
    width: 40px;
    transform: rotate(40deg);
    transition: .25s ease;
}

.profile-modal .modal-content .pass-confirm .input .eye svg path, .profile-modal .modal-content .pass-confirm .input .eye .svgEyeLash svg path {
    fill: var(--color-icon);
    width: 100%;
}

.profile-modal .modal-content .pass-confirm .input .eye .svgEyeLash {
    display: none;
}

.rotate-svg {
    transform: rotate(0deg) !important;
}

.profile-modal .modal-content .pass-confirm .input input::-ms-reveal {
    display: none;
}

.profile-modal .modal-content .pass-confirm form input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--color-1);
    color: var(--color-icon);
    font-family: var(--fuente);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: .25s ease;
}

.profile-modal .modal-content .pass-confirm form input[type="submit"]:hover {
    box-shadow: 2px 2px var(--color-2);
    transform: translate(-2px, -2px);
    text-shadow: 1px 1px 2px var(--color-4);
}