@import url("../../../styles/root.css");

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
}

.welcome-container .welcome-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-4);
}

.welcome-content img {
    border-radius: 50%;
    width: 20%;
    border: 5px solid var(--color-icon);
    height: 20%;
}

.welcome-content h2 {
    font-family: var(--fuente);
    margin-top: 20px;
}

.welcome-content p {
    width: 70%;
    font-family: var(--fuente);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}