@font-face {
    font-family: "Poppins";
    src: url("../fuente/Poppins-Regular.ttf");
}

:root {
    --color-1: #9DA3EB;
    --color-2: #A4BFF5;
    --color-3: #9FC5DE;
    --color-4: #A4EAF5;
    --color-5: #9DEBE0;
    --color-icon: #ffffff;
    --fuente: "Poppins";
}